.container  {
    color:black;
    background-color: beige;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 30px;
    gap: 20px;

    
   


}

.linha1 {
    background-color: gold; 
    
       

}

.linha2 {
    background-color: white;


}




